/* Avital Rubichi, 301789178 */

.big-logo {
    font-size: 5rem;
    font-weight: 600;
}

.front-page-content {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.search-container {
    width: 35rem;
}

#search-input {
  width: 100%;
  margin: auto;
  padding-left: 5rem;
  height: 2.75rem;
  border-radius: 3rem;
  box-shadow: none;
}

#search-input:hover {
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: var(--shadow-low);
}

.search-icon {
    font-size: 1.3rem !important;
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
}